Options +FollowSymLinks

ErrorDocument 404 /404
ErrorDocument 400 /400

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^view/([^\/]+)/([^\/]+)$ /view.php?view=$1&subCategory=$2
RewriteRule ^view/([^\/]+)/([^\/]+)/([^\/]+)$ /view.php?view=$1&subCategory=$2&limit=$3
