html, body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin-top: 80px;
}

#navbar {
    z-index: 2; /* to prevent triggering the dropdown*/
    background-color: blueviolet;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 60px;
}

.nav_indicator {
    float: right;
    position: fixed;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.nav_indicator div{
    width: 35px;
    height: 5px;
    background-color: white;
    margin-bottom: 6px;
}

#nav_items_container {
    z-index: 1; /* to prevent triggering the dropdown, refer #navbar*/
    width: 100%;
    transition: 0.3s;
    position: fixed;
    font-size: 1.2em;
    background-color: rgb(102, 30, 170);
    top: -100%;
    padding-top:20px ;
    padding-bottom:30px;
    
}

.dropdown_icon {
    width: 10px;
    margin-left: 10px;
}

#nav_items_container > div,
#nav_items_container > div > div,
#nav_items_container div > a{
    padding-top: 5px;
    padding-bottom: 5px;
}

#nav_items_container > a {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    color: white;
    text-decoration: none;
}

#nav_items_container{
    color: white;
}

#nav_items_container > div > div:first-child {
    padding-left: 15px;
}

#nav_items_container > div a,
#nav_items_container > div a:visited,
#nav_items_container > div a:active {
    background-color: rgb(70, 11, 126);
    padding-left: 25px;
    display: block;
    color: white;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown_content {
    display: none;
}

#nav_items_container > div:hover a:hover {
    background-color: rgb(145, 52, 233);
}

#nav_items_container > div:hover .dropdown_content {
    display: block;
}

#title {
    color: white;
    font-size: 1.5em;
    margin-top: 15px;
    margin-left: 15px;
}

#title a,
#title a:visited,
#title a:active {
    color: white;
    text-decoration: none;
}

section {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 90%;
    margin-left: 5%;
}

.news_type_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.news_type_container a {
    padding:10px;
    font-size: 1.3em;
    font-weight: 600;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 3px 3px grey;
    cursor: pointer;
    text-decoration: none;
}

.news_type_container a,
.news_type_container a:visited,
.news_type_container a:active {
    color: blueviolet;
}

.news_card_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.news_card_section h2 {
    text-align: center;
    margin-top: 5vh;
}

.news_card {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 5%;
    margin-left: 5%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    box-shadow: 0px 1px 3px grey;
    border-radius: 10px;
}

.news_card_subsection img{
    width: 100%;
    margin-bottom: 2vh;
}

.news_card_special_tags {
    margin-top: 20px;
}

.news_card_special_tags span {
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #0fb145;
    color: white;
}

.news_card_special_tags .premium_tag{
    background-color: rgb(238, 202, 0);
}

.news_card_title {
    font-size: 1.3em;
    font-weight: 900;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.news_card_description {
    margin-top: 20px;
    margin-bottom: 20px;
}

.news_card_tags {
    background-color: rgb(218, 218, 218);
    padding: 5px;
    border-radius: 5px;
}

.news_card_date {
    margin-top: 5vh;
    float: right;
    font-size: 0.9em;
    font-weight: 900;
}